.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.floatRight{
  float: right;
  padding-right: 50px;
  padding-top: 3px;
}
.paddingTop{
  padding-top: 10px;
}
.header-text{
  font-weight: bold;
  font-size: xx-large;
  padding-top: 2px;
}

header{
  height: 50px;
  background-color: #ccc;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-left: 30px;
  text-align: center;
}

footer{
  height: 30px;
  background-color: #ccc;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-left: 30px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
